---
import ContactForm from 'src/layouts/ContactForm.astro'
import Footer from 'src/layouts/Footer.astro'
import Landing from 'src/layouts/Landing.astro'
import Projects from 'src/layouts/Projects.astro'
import Services from 'src/layouts/Services.astro'
---

<!DOCTYPE html>
<html lang='pl'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Title</title>
  </head>
  <body class="dark:bg-neutral-900">
    <Landing />
    <Services />
    <Projects />
    <ContactForm />
    <Footer />
  </body>
</html>
