---
import ContactForm from 'src/layouts/ContactForm.astro'
import Footer from 'src/layouts/Footer.astro'
import Landing from 'src/layouts/Landing.astro'
import Projects from 'src/layouts/Projects.astro'
---

<!DOCTYPE html>
<html lang='pl' class="scroll-smooth">
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Title</title>
  </head>
  <body class="overflow-x-hidden dark:bg-black">
    <Landing />
    <Projects />
    <ContactForm />
    <Footer />
  </body>
</html>
