---
import Landing from 'src/layouts/Landing.astro'
import Services from 'src/layouts/Services.astro'
---

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Title</title>
  </head>
  <body>
    <Landing />
    <Services />
  </body>
</html>
