---
---

<header class='flex items-center justify-between py-4 text-white'>
  <a class='text-xl font-medium '>Jakub Serwin</a>
    <nav class='hidden lg:block'>
      <ul class='flex gap-4 font-light'>
        <li>
          <a class='cursor-pointer'>
            Strona Główna
          </a>
        </li>
        <li>
          <a class='cursor-pointer'>
            Projekty
          </a>
        </li>
        <li>
          <a class='cursor-pointer'>
            Kontakt
          </a>
        </li>
      </ul>
    </nav>
</header>

<style>
  .languages {
    appearance: none;
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.4em 0.6em;
  }
</style>
