---
import ThemeSwitchComponent from './ThemeSwitchComponent.astro'
---
<header class='flex items-center justify-between py-4 text-white'>
  <a class='text-xl font-medium'>Jakub Serwin</a>
  <div class='flex items-center gap-6'>
    <nav class='hidden lg:block'>
      <ul class='flex gap-4 font-light'>
        <li>
          <a class='cursor-pointer'>Strona Główna</a>
        </li>
        <li>
          <a class='cursor-pointer' href="#services">Usługi</a>
        </li>
        <li>
          <a class='cursor-pointer' href="#projects">Projekty</a>
        </li>
        <li>
          <a class='cursor-pointer' href="#contact">Kontakt</a>
        </li>
      </ul>
    </nav>
    <ThemeSwitchComponent />
  </div>
</header>
