---
import { LanguageSelector } from 'astro-i18next/components'
import { t } from 'i18next'
---

<header class='flex items-center justify-between py-4'>
  <a class='text-xl font-medium text-white'>Jakub Serwin</a>
  <div class='flex items-center gap-6'>
    <nav class='hidden text-white lg:block'>
      <ul class='flex gap-4 font-light'>
        <li>
          <a class='cursor-pointer'>
            {t('link.home')}
          </a>
        </li>
        <li>
          <a class='cursor-pointer'>
            {t('link.projects')}
          </a>
        </li>
        <li>
          <a class='cursor-pointer'>
            {t('link.contact')}
          </a>
        </li>
      </ul>
    </nav>
    <LanguageSelector showFlag={true} class='languages' />
  </div>
</header>

<style>
  .languages {
    appearance: none;
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.4em 0.6em;
  }
</style>
