---
import type { Service } from '@types'
import { Icon } from 'astro-icon'

export interface Props {
  service: Service;
}

const { service } = Astro.props
---

<div class='flex max-w-xs flex-col items-center text-neutral-800 dark:text-white'>
  <Icon name={service.icon.name} class="h-12 w-12 dark:fill-white" />
  <h3 class='mb-2 mt-3 text-xl font-medium'>
    {service.title}
  </h3>
  <p class='text-center leading-[180%] text-gray-400 dark:text-gray-200'>
    {service.label}
  </p>
</div>
