---
export interface Props {
  label: string | undefined;
  text: string;
}

const { label, text } = Astro.props
---

<div class='flex flex-col'>
  {
    label && (
      <span
        class='font-medium uppercase tracking-widest text-neutral-400'
        style='font-size: 11px'
      >
        {label}
      </span>
    )
  }
  <p
    class='text-justify text-neutral-800 dark:text-white md:leading-[160%] lg:leading-[180%]'
  >
    {text}
  </p>
</div>
