<!-- ---
import type { StaticPath } from "@types";
import i18next, { changeLanguage } from "i18next";

changeLanguage("pl");

export const getStaticPaths = (): StaticPath[] => [
    { params: { showcase: "clifford" } },
    { params: { showcase: "rover" } },
    { params: { showcase: "spot" } },
];
const { showcase } = Astro.params;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{i18next.language}</title>
  </head>
  <body>
    <div>{showcase}!</div>
  </body>
</html> -->
