---
import i18next, { changeLanguage } from 'i18next'

changeLanguage('pl')
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{i18next.language}</title>
  </head>
  <body>
    <!-- <LandingLayout /> -->
  </body>
</html>
