---
import ButtonComponent from '@components/ButtonComponent.astro'
import HeaderComponent from '@components/HeaderComponent.astro'
import HeroComponent from '@components/HeroComponent.astro'
import { ButtonVariant } from '@types'
import Services from 'src/layouts/Services.astro'
---

<div class='h-screen'>
  <div class='container relative z-10 mx-auto flex h-full flex-col px-8'>
    <HeaderComponent isDarkMode={true} />
    <div class='mt-20 flex items-center gap-12'>
      <div
        class='flex flex-1 flex-col items-start text-neutral-800 dark:text-white'
      >
        <h1 class='text-5xl font-bold'>Enhance Your Business</h1>
        <h2 class='mt-4 mb-6 max-w-4xl text-base lg:text-lg'>
          Specjalizuję się w tworzeniu nowoczesnych i skalowalnych rozwiązań
          internetowych oraz mobilnych, które pomagają osobom indywidualnym i
          firmom w rozwoju.
        </h2>
        <ButtonComponent
          label='Zobacz Moją Prace'
          href='#projects'
          variant={ButtonVariant.DEFAULT}
        />
      </div>
      <div class='flex-1 text-white'>
        <HeroComponent />
      </div>
    </div>
    <span id='services'></span>
    <Services />
  </div>
</div>
