---
import ProjectCardComponent from '@components/ProjectCardComponent.astro'
import { projects } from '@mocks'
import { ProjectCardVariant } from '@types'
---

<div class='container mx-auto mt-28 flex flex-col items-center gap-16'>
  <h2 class='text-3xl text-neutral-800 dark:text-white'>Wykonane Projekty</h2>
  <div class="flex w-full flex-col gap-20">
    {projects.map(({ name, accentColor, details }, index) => (
      <ProjectCardComponent
      name={name}
      industry={details.industry}
      caption={details.caption}
      accentColor={accentColor}
      variant={index % 2 === 0 ? ProjectCardVariant.DEFAULT : ProjectCardVariant.FLIPPED }
    />
    ))}
  </div>
</div>
<span id="contact" />
