---
import type { StaticPath } from '@types'
import Showcase from 'src/layouts/Showcase.astro'

export const getStaticPaths = (): StaticPath[] => [
  { params: { showcase: 'flow' } },
  { params: { showcase: 'tarbus' } },
  { params: { showcase: 'adure' } },
  { params: { showcase: 'hackathon' } },
]
const { showcase } = Astro.params
---

<!DOCTYPE html>
<html lang='pl' class="scroll-smooth">
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Title</title>
  </head>
  <body class="dark:bg-neutral-900">
    <Showcase name={showcase ?? ''}/>
  </body>
</html>
