---
import type { StaticPath } from '@types'

export const getStaticPaths = (): StaticPath[] => [
  { params: { showcase: 'flow' } },
  { params: { showcase: 'tarbus' } },
  { params: { showcase: 'adure' } },
  { params: { showcase: 'hackathon' } },
]
const { showcase } = Astro.params
---

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Title</title>
  </head>
  <body>
    <div>{showcase}!</div>
  </body>
</html>
